
.container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: 'Segoe UI';     
    display: flex;
    align-items: center;
    justify: center;
    
#filename { 
    text-align: center;
    border: hidden;
    border-radius: 1vh;
    color:aliceblue;
    background-color: gray;
    font-size: 3vb;
    height: 10vh;
    width: 39.5vb;
}

#cnt {
    color:aliceblue;
    font-size: 3vb;
    border: hidden;
    border-radius: 1vh;
    background-color: gray;
    margin-top: 1vh;
    height: 5vh;
    width: 40vb;
}
#cnt:hover {
    cursor: pointer;
    animation-name: sosal;
    background-color: rgb(99, 99, 99);
    animation-duration: 0.5s;
}
#filename:hover {
    animation-name: sosal;
    background-color: rgb(99, 99, 99);
    animation-duration: 0.5s;
}
@keyframes sosal {
    from {
        background-color: gray;
    }
    to {
        background-color: rgb(99, 99, 99);
    }
} 
#p1 {
    color: red;
    font-size: 15px;
    display: none;
}
body {
    background-color: rgb(44, 44, 44);
}